.comments-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.comments-list {
flex: 1;
overflow-y: auto;
}
.comment-input {
position: sticky;
bottom: 0;
background: white;
}
.comments-dialog .p-dialog-content {
padding: 0 !important;
}

.comments-dialog .p-dialog {
    margin: 0;
    max-height: 75vh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.edit-comment-container {
  width: 100%;
  margin: 0.5rem 0;
}

.edit-comment-textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.875rem;
  padding: 0.5rem;
  resize: none;
}

:host ::ng-deep .edit-comment-textarea.p-inputtextarea {
  width: 100% !important;
  overflow-y: auto;
}

.flex-grow-1 {
  flex-grow: 1;
  width: calc(100% - 48px); /* 32px image width + 16px margin */
}

.comment-item {
  margin-bottom: 0.5rem;
}